# Android Signing
RELEASE_STORE_PASSWORD=JuanPiece2026*
RELEASE_KEY_ALIAS=juanpiece
RELEASE_KEY_PASSWORD=JuanPiece2026*

# El archivo .jks no debe subirse a Git.
# En GitHub Actions, usa la variable RELEASE_KEYSTORE_BASE64
